Options Indexes FollowSymLinks
order allow,deny
allow from all
deny from 162.252.57.200
deny from 178.254.29.196
deny from 142.54.174.178
RewriteEngine On
RewriteRule ^radio radio/index.php
RewriteRule ^radio/(.*)$ radio/$1 [L]
RewriteRule ^flashes$ flashes.php [L]
RewriteRule ^flashes/(.*)$ IOSYS/$1 [L]
#RewriteRule ^logs$ irc-logger/ [L]
#RewriteRule ^logs/(.*)$ logs.php?lines=$1 [L]
RewriteRule ^logs /irc-logger/index.php [L,R=302]
RewriteRule ^logs/(.*)$ /irc-logger/$1
RewriteRule ^stats /alltime/index.php [L,R=301]
RewriteRule ^stats/(.*)$ alltime/$1
RewriteRule ^contact$ contact.html [L]
RewriteRule ^index$ index.php [L]
RewriteRule ^polish$ polish.log [L]
RewriteRule ^info$ info.php [L]
RewriteRule ^tuturu$ tuturuu.html [L]
RewriteRule ^animeplugin$ personal/animeplugin.html [L]
RewriteRule ^howtoimproveatosu$ osu/index.html [L]
RewriteRule ^collab$ osu/collab/taken.html [L]
RewriteRule ^guestbook/([0-2])$ guestbook.php?err=$1 [L]
RewriteRule ^blog$ personal/blog.php [L]
#RewriteRule ^astarr astar/index.html [L]
#RewriteRule ^astarr/(.*)$ astar/$1
RewriteRule ^([a-zA-Z0-9]+)\?([a-zA-Z0-9]+)$ /s/r.php?u=$1&lkey=$2 [L,QSA]
RewriteRule ^([a-zA-Z0-9]+)/?$ /s/r.php?u=$1 [L,QSA]
RewriteRule ^t-([a-zA-Z0-9]+)/?$ /s/r.php?u=t-$1 [L,QSA]
ErrorDocument 404 /error_pages/404.html
ErrorDocument 403 /error_pages/403.html
